* {
    margin: 0;
    padding: 0;
}

html {
    background: url('../images/neely.JPG') no-repeat center center fixed;
    background-color: black;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

body {
    color: whitesmoke;
    font-family: 'Georgia', serif;
    font-weight: 100;   
}

div {
    bottom: 0;
    height: 100px;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    top: 0;
}

h1 {
    font-weight: 100;
    letter-spacing: 0.05em;
    margin: auto;
    padding-top: 10px;
    position: static;
    text-align: center;
}

ul {
    padding: 10px;
    text-align: center;
}

li {
    display: inline-block;
    margin: 10px;
}

li a {
    color: whitesmoke;
    border: solid 1px whitesmoke;
    border-radius: 3px;
    text-decoration: none;
    padding: 6px 10px;
}

a:hover {
    background-color: whitesmoke;
    color: black;
    transition: all .4s;
}