* {
    margin: 0;
    padding: 0;
}

body {
    color: whitesmoke;
    font-family: 'Helvetica', serif;
    font-weight: 100;
    text-align: center;
}

div div {
    position: relative;
    width: 100%;
}

h1 {
    font-weight: 100;
    letter-spacing: 0.05em;
}

#nav {
    background-color: rgba(0, 0, 0, .5);
    height: 35px;
    position: fixed;
    width: 100%;
    z-index: 1;
}

#landing {
    background: url('../images/neely-1.JPG') no-repeat center center local;
    background-color: black;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    height: 750px;
    margin-bottom: 2px;
}

#landing div {
    right: 20%;
    top: 50%;
}

#about {
    background: url('../images/neely-2.JPG') no-repeat center center local;
    background-color: black;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    height: 750px;
    margin-bottom: 2px;
    text-align: right;
}

#about div {
    right: 10%;
    top: 57%;
}

#third {
    background: url('../images/neely-3.JPG') no-repeat right center local;
    background-color: black;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    height: 750px;
    text-align: left;
}

#third div {
    left: 10%;
    top: 50%;
}

#footer {
    background-color: black;
    bottom: 0;;
    display: table;
    height: 35px;
    opacity: 0.4;
    position: fixed;
    width: 100%;
}

#footer p {
    display: table-cell;
    opacity: 0.7;
    padding-bottom: 4px;
    text-align: center;
    vertical-align: middle;
}